name: Build Extensions

on:
  workflow_dispatch:
  push:

env:
  extensions: |
    super-tables-enterprise
    power-kpis-enterprise
    hierarchy-filter-enterprise

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        extension: [super-tables-enterprise, power-kpis-enterprise, hierarchy-filter-enterprise]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set paths
        run: |
          echo "EXT_NAME=${{ matrix.extension }}" >> $GITHUB_ENV
          echo "EXT_PATH=extensions/${{ matrix.extension }}" >> $GITHUB_ENV

      - name: Download license
        uses: Knauf-Group/DCE-Tableau/.github/actions/store_license@extensions
        with:
          license_path: ${{ env.EXT_PATH }}/app/license.lic
          license_secret: ${{ secrets.TABLEAU_COMBINED_LICENSE }}

      - name: Download extension binary
        uses: Knauf-Group/DCE-Tableau/.github/actions/download_extension@extensions
        with:
          config_file: ${{ env.EXT_PATH }}/data.json
